<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Membres<span
            class="panel-subtitle">Maintenance des membres</span>
          </div>
          <div class="panel-body">
            <div class="xs-mt-10 xs-mb-10  ">
              <div class="row">
                <div class="col-md-12">
                  <mat-toolbar>
                    <span>{{titleAction}}</span>
                  </mat-toolbar>
                  <form class="form-horizontal">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Code Membre</mat-label>
                              <input matInput placeholder="Code Livre" [readonly]="action!='add' && action!='update' "
                                     required
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="memberRecordComponentModel.codeMemberRecord"
                                     id="form-control-2" class="form-control">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Nom et prenom</mat-label>
                              <input matInput [readonly]="action!='add' && action!='update' " placeholder="Titre"
                                     required
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="memberRecordComponentModel.fullName"
                                     id="form-control-3" class="form-control">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Date d'adhésion</mat-label>
                              <input class="col-sm-9" matInput [disabled]="action==null" [matDatepicker]="picker"
                                     required readonly style="color: black" (click)="picker.open()"
                                     [(ngModel)]="memberRecordComponentModel.dateOfMemberRecordship"
                                     id="form-control-4" [ngModelOptions]="{standalone: true}">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Limite maximale de livres</mat-label>
                              <input matInput [readonly]="action!='add' && action!='update' " placeholder="Prix"
                                     required type="number"
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="memberRecordComponentModel.maxBookLimit"
                                     id="form-control-5" class="form-control">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Nombre de livres émis</mat-label>
                              <input matInput type="number" [readonly]="true"
                                     placeholder="Grille"
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="memberRecordComponentModel.noBookIssued"
                                     id="form-control-6" class="form-control">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Numero de téléphone</mat-label>
                              <input matInput [readonly]="action!='add' && action!='update' " placeholder="Titre"
                                     required
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="memberRecordComponentModel.phoneNo"
                                     id="form-control-7" class="form-control">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Type</mat-label>
                              <mat-select matNativeControl required [ngModelOptions]="{standalone: true}"
                                          [disabled]="action==null"
                                          [(ngModel)]="memberRecordComponentModel.type">
                                <mat-option value="étudiant">Etudiant</mat-option>
                                <mat-option value="faculté">Faculté</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="full-width">
                              <mat-label>Adress</mat-label>
                              <input matInput [readonly]="action!='add' && action!='update' "
                                     placeholder="Edition" required
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="memberRecordComponentModel.adress"
                                     id="form-control-8" class="form-control">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-12">
                      <div class="row center-block" *ngIf="action==null">
                        <div class="col-md-2">
                          <button (click)="startAction('add')" class="btn btn-space btn-primary">Ajouter</button>
                        </div>
                        <div class="col-md-2">
                          <button (click)="startAction('update')" class="btn btn-space btn-success">Modifier</button>
                        </div>
                        <div class="col-md-2">
                          <button (click)="startAction('search')" class="btn btn-space btn-warning">Rechercher</button>
                        </div>
                        <div class="col-md-2">
                          <button (click)="startAction('delete')" class="btn btn-space btn-danger">Supprimer</button>
                        </div>
                      </div>
                      <div class="row center-block" *ngIf="action!=null">
                        <div class="col-md-2">
                          <button [disabled]="action==null" (click)="callAction()"
                                  class="btn btn-space btn-primary">Valider
                          </button>
                        </div>
                        <div class="col-md-2">
                          <button [disabled]="action==null" (click)="startAction(null)"
                                  class="btn btn-space btn-success">Annuler
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
